.dart_tool/
.idea/
.vscode/
*.iml
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh